.events-app {
  display: flex;
  justify-content: space-around;
  min-height: 100vh;
  font-family: 'Roboto';
  color: #ffffff;
}

.events-container {
  background-image: linear-gradient(to right, #64748b, #323f4b);
  width: 55%;
  padding: 13px;
}
.events-title {
  font-size: 15px;
  margin: 0;
}
.events-list {
  padding-left: 0;
  display: flex;
  flex-wrap: wrap;
}

.event-registrations-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 13px;
}

.no-active-event {
  color: #64748b;
  text-align: center;
  font-size: 15px;
  font-weight: 500;
  align-self: flex-start;
}
