.events-app {
  display: flex;
  min-height: 100vh;
  font-family: 'Roboto';
  color: #ffffff;
}

.events-container {
  background-image: linear-gradient(to right, #64748b, #323f4b);
  width: 55%;
  padding: 13px;
}
.events-title {
  font-size: 15px;
  margin: 0;
}
.events-list {
  padding-left: 0;
  display: flex;
  flex-wrap: wrap;
}
